# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\borja_\Documents\GitHub\PPM-Antonio-Borja-Badia-Checa\TercerTrimestre\PruebaBBDD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
