# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\borja_\Documents\GitHub\Programacion202021\TercerTrimestre\SOLID\PrimerosEjemplos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
